@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@model List<string>

@{
    ViewData["Title"] = "Index";
}

<form asp-action="Add" enctype="application/x-www-form-urlencoded" method="post">
    <input type="text" name="name"/>
    <button type="submit">Save</button>
</form>


@foreach(var item in Model)
{
    <h2>@item <a asp-controller="ListTypes"  asp-action="Remove" asp-route-name="@item">Remove</a> </h2>
}